# Dependencias
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Directorios de compilación
/dist
/build

# Entorno
.env
.env.*
!.env.example

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Directorios de trabajo
/.vscode
/.idea
/.git

# Caché y archivos temporales
.cache
.eslintcache
.npm
tmp
temp